/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    display: block;
    width: 100%;
}
/*utility*/
.flex{
    display: flex;
}

.flex-y{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.basis{
    flex-basis: calc(100% / 3 - 10px);
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}
.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.text-center{
    text-align: center;
}

/*spazi*/
.space{
    margin-right: 5%;
}

.vertical-space{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sp-right-5{
    margin-right: 5px;
}

.text-size-12{
    font-size: 12px;
}

.m-top-bot{
    margin: 5px 0;
}
/*bottoni*/

.btnblue {
    
    color: white;
    padding: 5px 20px;
    background-color: #0061ff;
    border: none;
}

.btnblue:hover {
    background-color: #297bff;
    cursor: pointer;
}

/* nav section */

nav{
    z-index: 999;
    width: 100%;
    font-size: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}

nav div ul li a{
    color: black;
}

/*sezione sx nav*/
.nav-left{
    margin-left: 20px;
}

.nav-left > a{
    align-self: center;
    margin-right: 5px;
}

.nav-left ul li a{
    margin: 0 10px;
}

.nav-left ul{
    height: 100%;
}

.nav-left ul li{
    padding: 30px 0;
}

/*hover bottoni*/

.nav-left ul li:hover,
.nav-right  ul li:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}


/*sez dx nav*/

.nav-right{
    margin-right: 30px;
}

.nav-right > input{
    height: 25px;
    margin: auto;
    margin-left: 5px;
}

.nav-right ul li a{
    margin: 0 10px;
}

.nav-right ul{
    height: 100%;
}

.nav-right ul li{
    padding: 30px 0;
}


/*sez. jumbo*/

.jumbo{
    padding-top: 5%;
    background-color: #b4d0e7;
    width: 100%;
}

.jumbo-box{
    width: 60%;
}

.jumbo-sub-box{
    width: 33%;
}

.jumbo-mid{
    margin-top: 5%;
    font-size: 14px;
}

.jumbo-box h1{
    font-size: 60px;
    margin-top: 5%;
    font-weight: 800;
}

.jumbo-mid p{
    margin-bottom: 10%;
}

.jumbo-mid span{
    display: block;
    margin-top: 10%;
}

.arrow{
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.arrow a i{
    color: black;
}

.jumbo-box img{
    height: 350px;
}

.jumbo-img{
    right: 20%;
}
/*fine header*/



/* inizio body */


/*prima sezione*/

.plans{
    width: 50%;
    margin: 8% auto;
}

.section-title{
    font-size: 20px;
}

.input-box{
    margin-top: 6%;
    font-size: 15px;
}


/*IL BORDELLO PER IL CHECK*/

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -2px;
    left: -5px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    border: 2px solid lightgray;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -2px;
    left: -5px;
    position: relative;
    content: '';
    display: inline-block;
    border: 4px solid #0061ff;
}

/* CARD */

.plans-box{
    width: 100%;
}

.card{
    width: 30%;
    margin-top: 4%;
    border: 1px solid gray;
}

.head-card{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5px 0;  
}

.main-card{
    margin: 10%;
}

.price{
    margin: 10px 0;
}

.quando{
    color: gray;
    margin-bottom: 50px;
}

.sub-card-center{
    margin: 15px 0;
}

.underline{
    text-decoration-line: underline;
}

#hrhr{
    margin: 50px 0;
    width: 30%;
}

.card ul{
    margin-top: 10px;
}

.card ul li{
    margin-top: 10px;
    font-size: 13px;
}

.card ul div > div::before{
    content: "\2713";
    color: blue;
    font-weight: 600;
}

.spunta{
    margin-top: 5px;
    margin-right: 5px;
}

.plans-sub{
    width: 100%;
    border: 1px solid gray;
    margin-top: 5%;
}


.main-sub-card{
    padding: 3%;
}

#strong{
    margin-top: 20px;
}
.self-end{
    justify-content: flex-end;
}


/* fine prima section */

/*inizio seconda section*/
.partner{
    width: 100%;
}

.partner-box{
    width: 50%;
}

.partner-img{
    width: 70%;
}

.partner-text{
    width: 40%;
    padding: 3%;
}
.partner-text h3{
    margin-top: 10px;
    font-weight: 600;
}
.partner-text p{
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 13px;
}

.partner-button{
    color: black;
    padding: 10px;
    border: 1px solid black;
}

/*fine seconda section*/


/*terza section*/
.business{
    margin-top: 10%;
    width: 100%;
}

.bus-box{
    width: 50%;
}
.business h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.bus-box h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight:900 ;
}

.bus-box p{
    font-size: 14px;
}

.f-s-3{
    width: 50%;
    margin-top: 150px;
}
.fot-3{
    width: 60%;
    text-align: left;
}

.fot-3 h2{
    text-align: left;
}

.fot-3 a{
    color: blue;
    text-decoration-line: underline;
}

/*fine terza section*/

/* quarta sezione*/

